.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 80px;
  padding: 0 40px;
  background-color: #ffffff;
}

.menu-logo {
  color:black;
  font-weight: bold;
  font-size:20px;
}

.menu-item {
  position: relative;
  margin-right: 200px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
}

.menu-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  display: none;
  flex-direction: column;
  width: 200px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.menu-item:hover .menu-dropdown {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.menu-item:hover .menu-dropdown .menu-item {
  margin-right: 0;
  margin-bottom: 10px;
}

.review-dropdown {
  position: absolute;
  top: 200%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  flex-direction: column;
  width: 200px;
  padding: 20px;
  background-color: #ffffff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.review-item {
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
}

.menu-item:hover ~ .review-dropdown {
  display: flex;
}

.review-dropdown:hover {
  display: flex;
}

.review-item:hover {
  text-decoration: underline;
}
