@font-face {
  font-family: "Kim";
  font-weight: 50;
  src: url("KimjungchulGothic-Light.ttf") format("truetype");
}

@font-face {
  font-family: "KimBold";
  font-weight: 50;
  src: url("KimjungchulGothic-Bold.ttf") format("truetype");
}

.header {
  display: flex;
  margin-left: 280px; /* SEE-NEMA 로고를 화면 가운데에 배치 */
  align-items: center;
  height: 70px;
  background-color: #ffffff;
  padding: 8px;
  margin-top: 20px;
}

.Header-Play {
  margin-left: 30px;
  margin-right: 90px;
  font-weight: bold;
  font-size: 18px;
  font-family: "kim";
}

.Header-Play a {
  color: black;
  font-weight:bold;
}

.Header-Facility {
  margin-left: -60px;
  margin-right: 150px;
  font-weight: bold;
  font-size: 18px;
  font-family: "kim";
}

.Header-Facility a {
  color: black;
}

.Header-Review {
  margin-left: 30px;
  margin-right: 150px;
  font-weight: bold;
  font-size: 18px;
  font-family: "kim";
}

.Header-Review a {
  color: black;
  font-weight:bold;
}

.Header-Mypage {
  margin-left: -30px;
  margin-right: 150px;
  font-weight: bold;
  font-size: 18px;
  font-family: "kim";
}

.Header-Mypage a {
  color: black;
}

.header-item {
  margin-left: 30px;
  margin-right: 150px;
  font-weight: bold;
  font-size: 18px;
  font-family: "kimBold";
}

.header-item:last-child {
  margin-right: 40px; /* 마지막 요소에 오른쪽 마진 제거 */
}

.header-item a {
  color: black;
}

.Header-Logo {
  font-size: 40px;
  font-weight: bold;
  box-shadow: inset 0 -10px 0 #ea545467;
  margin-left: -90px; 
}

.Header-User {
  width: 60px;
  height: 60px;
  border: none;
  background-color: white;
}

.Header-Dropdown {
  position: absolute;
  width: 150px;
  top: 70px;
  left: 10;
  background-color: white;
  box-shadow: 0px 8px 16px 0px rgba(255, 184, 184, 0.277);
  box-sizing: border-box;
}



.Header-Dropdown ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.Header-Dropdown ul li {
  display: inline-block; /* inline-block으로 변경 */
  padding:5px;
  cursor: pointer;
  font-size: 18px;
  width:300px;
}

.Header-Dropdown ul li a {
  color: black;
}

.Header-Dropdown ul li a:hover {
  box-shadow: inset 0 -10px 0 #ea545441;
}

.Header-Dropdown ul li:last-child {
  border-bottom: none;
}
