.menu {
  position: relative;
}

.menu:hover .menu-dropdown {
  display: flex;
}

.menu-dropdown:hover {
  display: flex;
}

.menu-item:hover ~ .review-dropdown {
  display: flex;
}



.header {
  display: flex;
  align-items: center;
  height: 80px;
  padding: 0 40px;
  background-color: #fff;
}

.menu-logo{
  font-weight : bold;
  font-size : 20px;
}

.menu-item {
  position: relative;
  margin-right: 10px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  margin-left : 100px;
}


.menu-dropdownitem {
  position: relative;
  margin-right: 10px;
  font-size: 15px;
  font-weight: bold;
  cursor: pointer;
  margin-top :20px;
}

.menu-dropdownitem:hover {
  color:rgb(240, 122, 122);
}

.menu-dropdown {
  position: absolute;
  top: 400%;
  left: 0;
  display: none;
  flex-direction: column;
  width: 200px;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.menu-item:hover .menu-dropdown {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
}

.menu-item:hover .menu-dropdown .menu-item {
  margin-right: 0;
  margin-bottom: 10px;
}

.review-dropdown {
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  display: none;
  flex-direction: column;
  width: 200px;
  padding: 20px;
  background-color: #fff;
}

.review-item {
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  margin-bottom: 10px;
}

.review-item:hover {
  text-decoration: underline;
}