.Main-Rank {
    background-color: rgb(255, 255, 255);
    align-items: center;
    height:100px;
    margin-top:50px;
    border : none;
}

.Ranking-Text {
    position : absolute;
    left:1370px;
    top:250px;
    font-weight: bold;
    
}


.Ranking-Text2 {
    position : absolute;
    left : 200px;
    top : -50px;
    font-weight: bold;
}

.Ranking2 {
    position: absolute;
    align-items: center;
}

.rank {
    font-size: small;
    text-align : center;
    line-height : 18px;
}