@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.Musical-Image {
    background-color: rgb(255, 255, 255);
    height : 400px;
    width : 320px;
    border : none;
    border-radius : 20px;
    margin-top : 80px;
    margin-left : 300px;
}

.Musical-Detail-Info-Link {
    color : black;
}
.Musical-Detail {
    margin-top : 100px;
}

.Musical-Detail-Info {
    margin-left : 700px;
    margin-top : -370px;
}

.Musical-T {
    line-height: 5px;
    
}

.Musical-Catecory {
    color :rgb(169, 167, 167);
    font-size : 15px;
    
}

.Musical-Title {
    font-weight: bold;
    font-size : 25px;
   
}

.MusicalST {
    margin-top : 40px;
    line-height: 45px;
    font-family: 'Nanum Gothic', sans-serif;
}

.Musical-RunningTime {
    width:600px;
}
