.musical-WrapContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  width : 80%;
  margin-left : 170px;
}


.musical-WrapContent img {
  width: 200px;
  height: auto;
  margin-bottom: 10px;
  margin-left : -30px;
}

.musical-WrapContent li {
  list-style: none;
}

.musical-WrapContent h4,h6 {
  color:black;
  margin-left:-20px;
  width:400px;
  text-decoration: none;
}


.pagination {
  display: flex;
  justify-content: center;
}

.pagination button {
  background-color: #f5f5f5;
  border: none;
  color: #333;
  padding: 8px 10px;
  margin: 4px;
  cursor: pointer;
  text-align: center;
  margin-bottom : 40px;
  margin-top : 20px;
}

.pagination button.active {
  background-color: gray;
  color:white;
}

.musical-WrapContent h4,
.musical-WrapContent h6 {
    text-decoration: none;
}