@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

.contentWrap-play-detailM {
    padding-top: 130px;
    margin-top: 5%;
    text-align: center;
}
.play-detail-infoM .detail-titleM {
    font-size: 35px;
    font-weight: bold;
    margin-top: 1%;
    margin-bottom: 5%;
}
.play-detail-infoM .detail-dataM p {
    /* 장소 / 기간 / 캐스트 */
    margin: 8px 0;
    font-size: 20px;
}
.ticket-btnM {
    margin-top: 7%;
    display: flex;
    justify-content: space-evenly;
}
.ticket-btnM button {
    /* 예매 버튼 */
    border-radius: 8px;
    box-shadow: 5px 5px 3px 0px rgba(179, 179, 179, 0.277);
    border-color: rgb(255, 179, 179);
    border-style: double;
    background-color: white;
    
    font-size: 18px;
    font-weight: bold;
}
.ticket-btnM button a {
    color: rgb(255, 126, 126);
    text-decoration: none;
}
.Musical-Image {
    background-color: rgb(255, 255, 255);
    height : 400px;
    width : 320px;
    border : none;
    border-radius : 20px;
    margin-top : 80px;
    margin-left : 300px;
}
.play-detail-imgM {
    /* 230 * 280 */
    background-color: white;
    height: 510px;
    width: 400px;
}

.Musical-Detail-Info-Link {
    color : black;
}
.Musical-Detail {
    margin-top : 100px;
}

.Musical-Detail-Info {
    margin-left : 700px;
    margin-top : -370px;
}

.Musical-T {
    line-height: 5px;
    
}

.Musical-Catecory {
    color :rgb(169, 167, 167);
    font-size : 15px;
    
}

.Musical-Title {
    font-weight: bold;
    font-size : 25px;
   
}

.MusicalST {
    margin-top : 40px;
    line-height: 45px;
    font-family: 'Nanum Gothic', sans-serif;
}

.Musical-RunningTime {
    width:600px;
}
