.Mypage-hr { 
    margin-top : 30px;
    height : 1px;
    background-color: rgb(229, 229, 229);
}

.Mypage-profile-wrap {
    display : flex;
    width : 400px;
    margin-left : 570px;
    margin-top : 20px;
    height:150px;
    border : none;
    border-radius : 30px;
    background-color: rgb(233, 233, 233);
}

.profile-wrap  {
    width: 250px;
}


.Mypage-Info {
    font-size : 20px;
    margin-top : 30px;
    margin-left : -200px;
}

.Mypage-Info-ID {
  font-size : 13px;
  margin-top : 30px;
  margin-left : -200px;
  color:gray;
}


.profile-edit {
    border : none;
    position : absolute;
    margin-left: 145px;
    margin-top: 110px;
    width: 100px;
    height: 25px;
    border-radius: 10px;
    background-color: white;
}

.Profile-edit-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
  }
  
  .Profile-edit-modal-content {
    position: relative; 
    width: 220px;
    height: 150px;
    padding: 40px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
  }

  .Profile-edit-title {
    margin-top : -20px;
    font-weight : bold;
  }

  .Profile-edit-alert{
    font-size : 10px;
    color : rgb(220, 128, 128);
  }
  .Profile-edit-input {
    margin-top : 10px;
    width : 200px;
    height : 30px;
    border-radius : 10px;
  }

  .Profile-edit-button1 {
    margin-top : 20px;
    border : none;
    background-color: gray;
    color : white;
    height : 30px;
    margin-left : 0px;
    border-radius : 10px;
  }

  .Profile-edit-button2 {
    margin-top : 20px;
    border : none;
    background-color: gray;
    color : white;
    height : 30px;
    margin-left : 20px;
    border-radius : 10px;
  }

  .Profile-edit-check {
    font-size : 12px;
  }

  .My-hr-wrap {
    height:2px;
    background-color: lightgray;
    border:none;
    margin-top : 30px;
  }

  .Mypage-Tab-bar {
    margin-top : 30px;
    text-align : center;
    margin-left : 3px;
  }

  .Mypage-Tab-bar button {
    border:none;
    background-color: white;
    color : rgb(154,154,154);
    border-right : 3px solid lightgray;
  }

  .Mypage-Tab-bar button:last-child {
    border:none;
  }

 
  .Mypage-Tab-bar button:active
   {
    color : rgb(241, 159, 159);
  }