.ReviewWrite-ContentWrap {
    position : absolute;
    top: 150px;
    bottom: 100px;
    width: 100%;
    max-width: 700px;
    padding: 0 20px;
    border-radius: 10px;
  
    left: 50%;
    transform: translate(-50%, 0);

    border: none;
    border-radius: 10px;
    background-color: rgba(225, 225, 225, 0.718);
  
    overflow: hidden;
  
    display:flex;
    flex-direction: column;
}

.RW-CW {
   height: 70px;
}

.RW-DT {
    height : 70px;
}

.ReviewWrite-Title {
    margin-left : 3px;
    font-weight: bold;
}

.ReviewWrite-Input {
    margin-left:31px;
    width : 80%;
    margin-top:40px;
    border : none;
    border-radius : 5px;
    background-color: #ffffff;

    height : 40px;
    font-size : 14px;
    font-weight : 400;
    text-transform: 5px;
}

.ReviewWrite-Date {
    font-weight: bold;
    text-align : inherit;
}

.ReviewWrite-Label {
    margin-left : 3px;
    
    font-weight: bold;
    vertical-align: top;
}

.ReviewWrite-Image {
    margin-left : 34px;
}

.ReviewWrite-Text {
    margin-left:65px;
    width : 80%;
    margin-top: 30px;
    border-radius : 5px;
    border : none;
    background-color: #ffffff;

    height : 220px;
    font-size : 16px;
    font-weight : 400;

    text-transform: 5px;

    resize:none;
       
}

.ReviewWrite-Upload {
    position : absolute;
    left: 50%;
    transform: translateX(-50%);
    border: none;
    border-radius: 10px;
    background-color: #646464;
    color : white;
    font-weight: bold;
    width : 10%;
    height : 30px;
    margin-top : 30px;
}

.ReviewWrite-Image-Wrap {
    margin-top : 20px;
}

.ReviewWrite-Upload:hover {
    background-color: black;
}

.tag_btn {
    border: none;
    border-radius: 5px;
    background-color: #e2dede;
    margin-right: 15px;
    font-weight: 400;
    font-family : 'Raleway', sans-serif;
}


.tag_btns {
    margin-left:30px;
}

.tag {
    display: flex;
}

  

  .tag-buttons button.selected {
    background-color: #000000; 
    color: #ffffff; 
  }
  