.SeeyaMain-Wrap {
    margin-top : 80px;
    text-align: center;
}



.SeeyaMain-Search {
    position: absolute;
    background-color: transparent;
    border: none;
    margin-top: 22px;
    margin-left: 10px;
}

.SeeyaMain-input {
    margin-top: 20px;
    vertical-align: middle;
    width: 500px;
    height:30px;
    border-radius: 20px;
    border: 2px #000000 solid;
    text-align: center; 
}

.SeeyaMain-hr {
    margin-top: 50px;
    height : 1px;
    width:800px;
    background : #000;
    
}

.SeeyaMain-Content {
    width: 200px;
}

.SeeyaMain-Search-Concert {
    width : 200px;
    margin-left : 300px;
}

.SeeyaMain-li {
    width : 400px;
    text-align: left;
    line-height : 50px;
    font-weight: bold;
}

.SeeyaMain-itemWrap {
    background-color:#ffffff;
    width : 800px;
    height : 350px;
    border : none;
    border-radius : 0px;
    margin-left : 630px;
    margin-top : 50px;
}

.SeeyaMain-Link {
    color : black;
    font-style: sans-serif;
}

.SeeyaMain-Link:hover {
    color:rgb(203, 114, 114);
}