.SeeyaMain-Wrap {
    margin-top : 100px;
    text-align: center;
}


.SeeyaMain-Search {
    position: absolute;
    background-color: transparent;
    border: none;
    margin-top: 20px;
    margin-left: 10px;
}

.SeeyaMain-input {
    margin-top: 20px;
    vertical-align: middle;
    width: 600px;
    height:30px;
    border-radius: 20px;
    border: 1px #911F27 solid;
}

.SeeyaMain-hr {
    margin-top: 50px;
    height : 2px;
    width:800px;
    background : #000;
}

.SeeyaMain-Content {
    width: 200px;
}

.SeeyaMain-Search-Concert {
    width : 200px;
    margin-left : 300px;
}

.SeeyaMain-li {
    width : 200px;
    text-align: left;
    line-height : 50px;
}

.SeeyaMain-itemWrap {
    background-color:#ffffff;
    width : 600px;
    height : 350px;
    border : 3px solid rgb(184, 184, 184);
    border-radius : 0px;
    margin-left : 450px;
    margin-top : 50px;
}

.SeeyaMain-Link {
    color : black;
    font-style: sans-serif;
}