.SeeyaReview-Container {
   
   
    margin : auto;
    margin-top : 100px;
    height: 500px; 
    width : 700px;/* 화면 전체 높이 */
    line-height: 20px;
    
}

.SeeyaReview-Review {
    font-weight: bold;
    font-size : 30px;
    text-align: center;
    color : rgb(157, 105, 105);
}

.SeeyaReview-Container hr {
    border : 1px solid rgb(157, 105, 105);
}

.SeeyaReview-title {
    font-weight: bold;
    text-align : center;
    font-size : 20px;
}

.SeeyaReview-Contents {
    background-color: rgb(219, 219, 219);
    border-radius : 20px;
   
    height : 250px;
    margin-top : 40px;
    padding-top : 50px;
}
.SeeyaReview-content {
    margin-top : -20px;
    margin-left : 20px;
    background-color: rgb(255, 255, 255);
    height : 200px;
    width : 650px;
    font-weight: bold;

}

.SeeyaReview-nickName {
    margin-left : 20px;
    margin-top : 20px;
    color : gray;
    font-size : 12px;
}

.SeeyaReview-modify {
    width : 100px;
    height : 30px;
    color : white;
    background-color: rgb(101, 101, 101);
    border : none;
    border-radius : 20px;
    margin-left : 220px;
    margin-top : 30px;
}

.SeeyaReview-modify:hover {
    background-color : black;
}

.SeeyaReview-delete {
    width : 100px;
    height : 30px;
    color : white;
    background-color: rgb(101, 101, 101);
    border : none;
    border-radius : 20px;
    margin-left : 20px;
}

.SeeyaReview-delete:hover {
    background-color: black;
}

.SeeyaReview-register {
    width : 150px;
    height : 30px;
    color : white;
    background-color: black;
    border : none;
    border-radius : 20px;
    margin-left : 20px;
}



.Modify-Wrap {
    background-color: bisque;
    height : 400px;
    line-height : 65px;
    margin-top : 50px;
}

.Modify-Wrap label {
    font-weight: bold;
    margin-left : 10px;
}

.Modify-title {
    border: none;
    border-radius : 20px;
    width : 600px;
    height : 50px;
    margin-left : 30px;
}

.Modify-play {
    border: none;
    border-radius : 20px;
    width : 600px;
    height : 50px;
    margin-left : 30px;
}

.Modify-seat {
    border: none;
    border-radius : 20px;
    width : 600px;
    height : 50px;
    margin-left : 30px;
}

.Modify-content {
    resize:none;
    border: none;
    width : 600px;
    height : 100px;
    margin-top : 13px;
    margin-left : 70px;
    font-family: 'Raleway', sans-serif;
}

.modify-save {
    margin-left : 260px;
    border : none;
    background-color: #000000;
    color : white;
    border-radius : 10px;
    width : 70px;
    height : 30px;
    font-weight: bold;
}

.modify-save:hover {
    background-color: gray;
}

.modify-cancel {
    margin-top : -40px;
    margin-left : 20px;
    border : none;
    background-color: #000000;
    color : white;
    border-radius : 10px;
    width : 70px;
    height : 30px;
    font-weight: bold;
}

.modify-cancel:hover {
    background-color: gray;
}