.SeeyaUpload-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 600px;
}
.SeeyaUpload-containerM {
  padding-top: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.SeeyaUpload-form {
  width: 700px;
  height: 700px;
  margin-top : 200px;
  border : none;
  border-radius : 20px;
  background-color: rgba(225, 225, 225, 0.718);
}

.SeeyaUpload-form input{
  
  margin-top : 10px;
  margin-left : 40px;
  padding: 10px;
  border: none;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  font-size: 16px;
  width: 80%;
  font-family: 'Raleway', sans-serif;
  resize:none;
}

.SeeyaUpload-form input::placeholder,
.SeeyaUpload-form textarea::placeholder {
  text-align: left;
  color : rgb(188, 187, 187);
  font-size:15px;
}

.SeeyaUpload-form textarea {
  margin-bottom: 20px;
  margin-top : 10px;
  margin-left : 90px;
  padding: 10px;
  border: none;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  font-size: 16px;
  width: 80%;
  height : 80px;
  font-family: 'Raleway', sans-serif;
  resize:none;
}

.SeeyaUpload-form button[type="submit"] {
  background-color: #000000;
  margin-left : 270px;
  margin-top : 30px;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  width: 20%;
}

.SeeyaUpload-form button[type="submit"]:hover {
  background-color: #737373;
}

.SeeyaUpload-label {
  margin-left : 20px;
  font-weight: bold;
}

.SeeyaUpload-Image-label {
  margin-top : -60px;
  margin-left : 20px;
  font-weight: bold;
}

.SeeyaUpload-Image {
  margin-top : -50px;
  margin-bottom : 40px;
}

.star-icon {
  color: #cfcfcf; 
  cursor : pointer;
  transition: color 0.25s;
}

.star-icon.active {
  color: yellow; 
}

.star-rating {
  display: flex;
  align-items : center;
}

.StarRating-label {
  display: inline-block;
  width: 100px;
  text-align: right;
  margin-top : 10px;
  margin-right: 10px;
  margin-left : -19px;
}

.StarRating-label:last-of-type {
  margin-right: 0;
}

.SeeyaUpload-rating {
  display: inline-block;
  vertical-align: middle;
  margin-left : 30px;
}

.Profile-edit-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.Profile-edit-modal-content {
  position: relative; 
  width: 220px;
  height: 150px;
  padding: 40px;
  text-align: center;
  background-color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 0 2px 3px 0 rgba(34, 36, 38, 0.15);
}
