.SeeyaDetail-Wrap {
    border-bottom: 1px solid #eeeeee;
    display: flex;
    justify-content: center; 
    margin: 20px 0 50;
    padding: 15px;
    width: 100%; 
  }
 
 
  .SeeyaDetail-title {
    font-weight: bold;
    margin-right: 10px;
  }
  
  .SeeyaDetail-createdAt {
    font-size: 17px;
    color: #808080;
    margin-left : 400px;
  }
  
  