.SeeyaReview-Container {
    margin : auto;
    margin-top : 70px;
    height: 500px; 
    width : 700px;
    line-height: 20px;
}
.seeya-review-container {
    padding-top: 150px;
    margin-left: 5%;
    margin-right: 5%;
}
.view-review-title {
    padding-top: 20px;
    text-align: center;
    font-size: 30px;
    font-weight: bold;
    margin-bottom: 30px;
}
.view-review-title span {
    border-bottom: 2px solid rgb(255, 207, 207);
}

.view-review-nickName {
    font-size: 20px;
    /* text-align: right; */
    /* margin-right: 10%; */
    margin-left: 70%;
    color: rgb(136, 136, 136);
    border-left: 2px solid rgb(255, 207, 207);
    white-space: pre;
}

.view-review-content {
    /* padding-top: 5%; */
    padding: 5%;
    font-size: 22px;
}

.SeeyaReview-Review {
    font-weight: bold;
    font-size : 30px;
    text-align: center;
    color : rgb(0, 0, 0);
}

.SeeyaReview-Container hr {
    border : 1px solid rgb(191, 191, 191);
    width : 250px;
}

.SeeyaReview-title {
    font-weight: bold;
    text-align : center;
    font-size : 15px;
}
.SeeyaReview-titleM {
    font-weight: bold;
    text-align : center;
    font-size : 20px;
}
.SeeyaReview-Contents {
    background-color: rgba(225, 225, 225, 0.718);
    border-radius : 20px;
    border: none;
    height : 250px;
    margin-top : 40px;
    padding-top : 50px;
}

.SeeyaReview-content {
    margin-top : -30px;
    margin-left : 20px;
    height : 200px;
    width : 650px;
    font-weight: bold;

}

.SeeyaReview-nickName {
    margin-left : 20px;
    color : gray;
    font-size : 12px;
}

.SeeyaReview-modify {
    width : 100px;
    height : 30px;
    color : white;
    background-color: rgb(101, 101, 101);
    border : none;
    border-radius : 20px;
    margin-left : 220px;
    margin-top : 30px;
}

.SeeyaReview-modify:hover {
    background-color : black;
}

.SeeyaReview-delete {
    width : 100px;
    height : 30px;
    color : white;
    background-color: rgb(101, 101, 101);
    border : none;
    border-radius : 20px;
    margin-left : 20px;
}

.SeeyaReview-delete:hover {
    background-color: black;
}

.SeeyaReview-register {
    width : 150px;
    height : 30px;
    color : white;
    background-color: black;
    border : none;
    border-radius : 20px;
    margin-left : 20px;
}

.Average-Score {
    margin-left : 20px;
    font-size:13px;
    color:gray;
    margin-top : -68px;
}

.Question-Score {
    margin-left :10px;
    size : 10px;
}

.Question-Modal {
    width : 200px;
    height : 20px;
    border : none;
    background-color: rgba(255, 255, 255, 0.542);
    font-size : 10px;
    text-align : center;
    margin-left : 130px;
    margin-top : -30px;
    border-radius : 20px;
}

.Heart-Filled {
  color: rgb(255, 159, 159);
}

.Heart-Empty {
    color : rgb(207, 204, 204);
}

.Heart-Wrap {
    margin-top: -32px;
    margin-left : 650px;
}
 
.Heart-Count{
    margin-left : 570px;
    margin-top : -32px;
    font-size : 12px;
    color : gray;
}