img {
    width: 300px;
    height: 400px;
    margin-top: 10px;
    margin-left: 450px;
    
  }
  
  .mySlider {
    background-color: rgb(255, 255, 255);
    height: 440px;
    margin-top: 10px;
    overflow-x: hidden; /* 스크롤바 제거 */
  }