img {
    width: 600px;
    height: 350px;
    margin-top: 50px;
    margin-left: 480px;
    
  }
  
  .mySlider {
    background-color: rgb(255, 255, 255);
    height: 450px;
    margin-top: 100px;
    overflow-x: hidden; /* 스크롤바 제거 */
  }