img {
    width: 280px;
    height: 300px;
    /* margin-top: 20px;
    margin-left: 441px;
    margin-bottom : 40px; */
  }
  
  .mySlider {
    background-color: rgb(255, 255, 255);
    height: 440px;
    margin-top: 10px;
    overflow-x: hidden; /* 스크롤바 제거 */
  }

  .mySliderM {
    background-color: rgb(255, 255, 255);
    height: 600px;
    overflow-x: hidden; /* 스크롤바 제거 */
  }

  .ranking-container-h2 {
    text-align : center;
    margin-left : 20px;
    font-size : 15px;
    color : rgb(154, 154, 154);
    font-weight : lighter;
  }

  .ranking-container{
    margin-top : 40px;
    margin-left : 70px;
  }
  .ranking-containerM{
    margin-top :50px;
  }
  .rank-div {
    margin-left: 15%;
    margin-bottom: 30px;
  }

  .tab-bar {
   margin-top : 30px;
   text-align : center;
   margin-left : 3px;
  }

  .tab-barM {
    margin-top: 25px;
    display: flex;
    justify-content: center;
  }
  .tab-barM button {
    font-size: 18px;
    border: none;
    background-color: white;
    color : rgb(154,154,154);
    border-right : 3px solid lightgray;
  }
  .tab-barM button:last-child {
    border: none;
  }
  .tab-barM button.active {
    font-weight: bold;
    color : rgb(241, 159, 159);
  }
  .tab-bar button {
    border:none;
    background-color: white;
    color : rgb(154,154,154);
    border-right : 3px solid lightgray;
  }

  .tab-bar button:last-child {
    border:none;
  }

  .tab-bar button.active {
    color : rgb(241, 159, 159);
  }